<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js - The HTML Presentation Framework</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<!-- Bloquear un elemento apara acceder a la plantilla principal-->


				<section>
					<h1>Pruebas (29119-3)</h1>
					<h3>Integrantes</h3>
					<ul>
					<li><p>	1. Loor Alarcón Freddy</p></li>
					<li><p>	2. Mecia Velez Walter</p></li>
					<li><p>	3. Hurtado Pasquel Andres</p></li>
				</ul>
					<p>
						<small>Creado por <a href="http://hakim.se">NTP</a> / <a href="http://twitter.com/hakimel">@NTP</a></small>
					</p>

					</bu><a href="">@APP </a> -
					<a href="?transition=cube">Cube</a> -
					<a href="?transition=page">Page</a> -
					<a href="?transition=concave">Concave</a> -
					<a href="?transition=zoom">Zoom</a> -
					<a href="?transition=linear">Linear</a> -
					<a href="?transition=none">None</a> -
					<a href="?transition">Default</a>

				</section>

				<section>
					<h2>Documentación  de Pruebas <a href="">(29119-3)</a></h2>
					<ul>
						<li>Se inician en el análisis del  sistema</li>
						<li>Reflejan la plannificación general de las pruebas</li>
						<li>La norma ISO/IEC 29119 se compone de las siguientes partes.</li>
					</ul>
					<aside class="notes">
						Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
					</aside>
				</section>

				<section>
					<section>
						<h3>Partes de la Norma <a href="">ISO/IEC 29119</a></h3>
						<ul>
							<li><p>Parte 1. Conceptos y vocabularios:</p></li>
							<ul>
								<li><p>Introducción a la prueba</p></li>
								<li><p>Pruebas basadas en riesgo</p></li>
								<li><p>Fases de pruebas(Unidad, integracion, sistema, validación) y tipos de prueba (estática, dinámica, no funcional...)</p></li>
								<li><p>Prueba en diferentes ciclos de vida del software</p></li>
								<li><p>Roles  y responsabilidades en la prueba</p></li>
								<li><p>Métricas y medidas</p></li>
							</ul>
						</ul>
					</section>

					<section>
						<h2>Partes de la Norma<a href="">ISO/IEC 29119</a></h2>
						<ul>
							<li><p>Parte 2. Procesos de prueba:</p></li>
							<ul>
								<li><p>Politica de la organización</p></li>
								<li><p>Gestión de Proyectos de prueba</p></li>
								<li><p>Procesos de Prueba estática</p></li>
								<li><p>Procesos de Prueba dinámica</p></li>
							</ul>
						</ul>
					</section>
					<section>
						<h2>Partes de la Norma<a href="">ISO/IEC 29119</a></h2>
						<ul>
							<li><p>Parte 3. Docuemntación:</p></li>
							<ul>
								<li><p>Diseño y realizacion de pruebas</p></li>
								<li><p>Contenido</p></li>
								<li><p>Plantilla</p></li>
							</ul>
						</ul>
					</section>

					<section>
						<h2>Partes de la Norma<a href="">ISO/IEC 29119</a></h2>
						<ul>
							<li><p>Parte 4. Técnicas de prueba:</p></li>
							<ul>
								<li><p>Descripción y ejemplos</p></li>
								<li><p>Estáticas: revisiones, inspecciones, etc</p></li>
								<li><p>Dinámicas, caja negra, caja blanca de prueba no funcional(seguridad, rendimiento, usabilidad)</p></li>
							</ul>
						</ul>
					</section>

				</section>

				<section>
				<section>
					<h2>Siete documentos asociados a las pruebas</h2>
					<ul>
						<li>
							<p>
							<strong>Plan de pruebas:</strong>
								Al principio se desarrollará una planificación general, que
								quedará reflejada en el “Plan de Pruebas”. El plan de pruebas se inicia el proceso de Análisis del Sistema.
							</p>
						</li>
						<li>
							<p>
							<strong>Especificación del diseño de pruebas:</strong>
							De la ampliación y detalle del plan
							de pruebas, surge el documento “Especificación del diseño de pruebas”.
							</p>
						</li>
					</ul>
				</section>
		   	</section>

				<section>
					<h2>Siete documentos asociados a las pruebas</h2>
					<ul>
						<li>
							<p>
							<strong>Especificación de un caso de prueba.</strong>
							Los casos de prueba se concretan a
							partir de la especificación del diseño de pruebas.
					   	</p>
						</li>
						<li>
							<p>
							<strong>Especificación de procedimiento de prueba.</strong>
							Una vez especificado un caso
							de prueba, será preciso detallar el modo en que van a ser ejecutados cada
							uno de los casos de prueba, siendo recogido en el documento
							“Especificación del procedimiento de prueba”.
							</p>
						</li>
					</ul>
				</section>

				<section>
					<h2>Siete documentos asociados a las pruebas</h2>
					<ul>
						<li>
							<p>
							<strong>Registro de pruebas:</strong>
							En el “Registro de pruebas” se registrarán los sucesos
							que tengan lugar durante las pruebas.
							</p>
						</li>
					</ul>
					<ul>
						<li>
							<p>
							<strong>Informe de incidente de pruebas:</strong>
							Para cada incidente, defecto
							detectado, solicitud de mejora, etc, se elaborará un “informe de
							incidente de pruebas”.
							</p>
						</li>
					</ul>
					<ul>
						<li>
							<p>
							<strong>Informe sumario de pruebas:</strong>
							Para cada incidente, defecto
							detectado, solicitud de mejora, etc, se elaborará un “informe de
							incidente de pruebas”.
							</p>
						</li>
					</ul>
				</section>

				</section>

				<section>
					<h2>Documentación de Prueba</h2>
					<p align="justify">
						Define plantillas para la documentación de pruebas en todo el ciclo de
						vida del software.
					</p>
					<ul>
						<li>
				     Documentación de Proceso de Pruebas (a escala) Organizacional.
						</li>
						<li>Documentación del Proceso de Gestión de Pruebas</li>
						<li>Documentación del Proceso de Pruebas Dinámicas.</li>
					</ul>

				</section>

				<section>
					<h2>
						Diez documentos básicos durante el proceso de prueba
					</h2>
					<ol>
							<li>Plan maestro de prueba</li>
							<li>Plan de pruebas de nivel</li>
							<li>Diseño de pruebas</li>
							<li>Casos de prueba</li>
							<li>Procedimiento de prueba</li>
							<li>Registro de Prueba</li>
							<li>Reporte de anomalias</li>
							<li>Reporte Provincial del estado de la prueba </li>
							<li>Reporte de pruebas</li>
							<li>Reporte maestro de prueba</li>
					</ol>
				</section>


  			<section>
				  </br></br></br></br>
					<p  align="justify" ><a href="">Objetivo: </a>
						El objetivo del estándar es proporcionar un conjunto estandarizado
					  de documentos para la documentación de pruebas de software.
					</p>
				</section>


				<section>
					<h2>Ventajas de la documentación</h2>
					<ul>
						<li>
							<p>
							<strong>Fomentan el cambio.</strong>
						Garantizar que el codigo se cambie con exito.
							</p>
						</li>
						<li>
							<p>
							<strong>Simplifica la integración.</strong>
						Permite llegar a la fase de integracion con un alto grado de seguridad de que el codigo está funcionando correctamente
							</p>
						</li>

						<li>
							<p>
							<strong>Documentación del código.</strong>
							Se documenta el codigo para saber utilizarlo.
							</p>
						</li>

						<li>
							<p>
							<strong>Separación de la interfaz y la implementación.</strong>
							Se garantiza que no se afecten las partes, tanto la interfaz y la implementación.
							</p>
						</li>

					</ul>
				</section>


				<section>
						<h2>Documentación de pruebas con la norma IEEE 829.</h2>
					<ul>
						<li>
							<p align="justify" >
						 		también conocida como Estándar 829 para software y prueba del sistema de documentación, es un estándar IEEE que
						 		especifica la forma de un conjunto de documentos para uso en ocho etapas definidas de pruebas de software y pruebas del sistema
							</p>
						</li>
  				</ul>
 			</section>


		<section>
					<h2>Documentación de pruebas con la norma IEEE 829.</h2>
						<p align="justify" >
							La norma Fue publicada en 18 de Julio del 2008 y cuando sea aprobado sustituirá a la versión 1998, por tanto,
							especifica el formato de estos documentos, pero no estipula si todos ellos deben ser usados.
						</p>
				<ul>
				  <ol>
							<li>Plan de Pruebas Master (MTP):</li>
							<li>Plan de Pruebas de nivel (LTP):</li>
							<li>Diseño Prueba de nivel (LTD):</li>
							<li>Caso de prueba de nivel (LTC):</li>
							<li>Procedimiento de prueba de nivel (tipo básico):</li>
					</ol>
				</ul>
		</section>
		<section>
		</br></br></br></br>
			<h3>Gracias</h3>
		</section>
		</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
